  @import 'react-big-calendar/lib/sass/styles';


// // .rbc-row, .rbc-day-slot {
// //     min-width: 250px;
// //   }

//   // .rbc-time-view,.rbc-time-view-resources {
//   //   min-width: 100%;
//   // }
 
 
//   // .rbc-time-view, .rbc-row, .rbc-time-view-resources, .rbc-day-slot {
//   //   min-width: 250px !important;
//   // }






// .event-container {
//   padding: 0;
//   display: flex;
//   // justify-content: center;
//   // align-items: flex-start;
//   // position: relative;
//   // min-height: 20px;
//   min-width: 100%;
//   border: 1px solid greenyellow;
//   font-size: 12px;
// }

.rbc-event-label {
  font-size: 15px;
  // font-family: 'Helvetica', sans-serif;
  position: absolute;
  top: 0;
  border-bottom: 0.5px solid white;
  border-right: 0.5px solid white;
}


  .compact-event {
    // margin-top: -10px;
    padding: 0;

    // position: absolute;
    // left: 0;
    // top: 0;
    width: 100%;
    max-height: 20px;
    border: 1px solid turquoise;
  }

  .full-event {
    font-family: 'Helvetica', sans-serif;
    // margin-top: -10px;
    margin-top: 13px;

    // position: absolute;
    // left: 0;
    // top: 0;
    font-size: 14px;
    min-width: 100%;
    // height: 100%;
    min-height: 50px;
    line-height: 10px;
    overflow: hidden;
    border: 1px solid red;
  }